.navbar-brand, .navbar-brand:hover {
	padding-top: 15px !important;
	color: #50c1e9 !important; /* deepskyblue */
}
.docs-header {
	background-image: url("45degreee_fabric.png");
	color: #999999;
}          
.topic h3, .topic h4, .topic__infos div {
	color: #50c1e9 !important;
}
.btn-centered {
	width:25%; display:block; margin: 0 auto;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.pull-middle {
	position: relative;
	left: 50%;
}
.pull-header 	{
	bottom: 15px;
	position: relative;
	top: -42px;
	/*left: -12px;*/
}
.subbox {
	border: 1px solid;
	border-color: #aab2bd !important;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
}
.btn > img {
	height: 12px;
}
.btn-more-margin-left {
	margin-left: 5px !important;
}

h4 > img {
	vertical-align: baseline !important;
}
h4 > span.glyphicon {
	color: darkgrey;
}

.ads {
	margin-top: 30px;
}